body{
    /*background-color: #000;*/
  }
  
  #page-container {
      overflow: hidden;
  }
  
.alignment_container{
  min-width: 100%;
  background-color: #000000;
}

.alignment_absolute{
z-index: 999!important;
position: absolute!important;
top: 0px;
bottom: auto;
left: 0px;
right: auto;
min-width: 99vw;
}

  /*********FLIP-CARDS***********/
  
  @media (min-width:981px){
    .flip-box-row {
      background-color: transparent;
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }
     
    .flip-box-column {
      position: relative;
      width:100%;
      height: 100%;
      -webkit-transition: transform 0.8s;
      transition: transform 0.8s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
     
    .flip-box-row:hover .flip-box-column {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
     
    .flip-box-front, .flip-box-back{
      position: absolute;
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
     
    .flip-box-back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    }
    
    /*********************************/
    
/**********BENEFICIOS*****************/
  .marcaBeneficio{
    width: 13% !important;
    margin: 0px !important;
    padding-top: 4px;
  }
  
  .beneficio{
    min-width: 25% !important;
      will-change: transform;
    min-height: 80vh !important;
  }
  
  .opac{
    opacity: 1 !important;
  }
  
  .contenedor-horizontal{
    display: flex;
      flex-direction: row;
      width: 400%;
    flex-wrap: nowrap;
    max-width: none;
  }

  /*Movil*/
.tab{
  opacity: .3;
}

.benef{
  opacity: 0;
}

.activeOp{
  opacity: 1;
}

  /******************************************/
  
  /*********TESTIMONIOS**************/
  .testimonioModulo {
    background-color: #ffffff !important;
  }
  
  .testimonioModulo .et_pb_testimonial_description{
      display: flex;
      flex-direction: column-reverse;
  }
  
  .testimonioModulo .et_pb_testimonial_author{
      margin-top: 20px !important;
    margin-bottom: 8px;
  }
  
  
  /* Estilos slick.js testimonios */
  .slick-slide
  {
  float: left;
  }
  /* Dots */
  .slick-dotted.slick-slider
  {
  margin-bottom: 30px;
  }
  .slick-dots
  {
  position: absolute;
  bottom: -80px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  }
  .slick-dots li
  {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  }
  .slick-dots li button
  {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
  outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
  opacity: 1;
  }
  .slick-dots li button:before
  {
  font-family: 'slick';
  font-size: 28px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
  opacity: .75;
  color: black;
  }
  @media only screen and (max-width: 768px) {
  .slick-dots
  {
  bottom: -60px;
  }
  }
  /* Arrows */
  .slick-prev,
  .slick-next
  {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #c0c0c0;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
  outline: none;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
  opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
  opacity: .25;
  }
  .slick-prev:before,
  .slick-next:before
  {
  font-family: 'etmodules';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  .slick-prev
  {
  left: 16px;
  z-index: 99;
  }
  [dir='rtl'] .slick-prev
  {
  right: 16px;
  left: auto;
  }
  .slick-prev:before
  {
  content: '34';
  }
  [dir='rtl'] .slick-prev:before
  {
  content: '35';
  }
  .slick-next
  {
  right: 16px;
  z-index: 99;
  }
  [dir='rtl'] .slick-next
  {
  right: auto;
  left: 16px;
  }
  .slick-next:before
  {
  content: '35';
  }
  [dir='rtl'] .slick-next:before
  {
  content: '34';
  }
  
  #testimonios .slick-list{
     overflow: hidden !important;
     max-width: 660px !important;
     margin: auto !important;
  }
  /***********************************/
  
  
  /*******SERVICIOS********/
  .reducir{
      transform: scale(0.8);
      transition-duration: 0.5s;
  }
  
  /****************************/